{% load static %}
<div class="footer__list__one">
    <ul>




        <li>
            <a class="footer__header" href="" target="_self"><img role="presentation"
                    src="{% static 'news/images/icons-icon-support-chat-white.svg' %}" alt=""><span>Feedback</span></a>
        </li>





        <li>
            <a class="footer__header" href="" target="_self"><img
                    role="presentation" src="{% static 'news/images/icons-icon-info-white.svg' %}"
                    alt=""><span>Intermediary forms</span></a>
        </li>





        <li>
            <a class="footer__header" href="" target="_self"><img
                    role="presentation" src="{% static 'news/images/icons-icon-help-white.svg' %}" alt=""><span>eQ
                    Support Centre</span></a>
        </li>


    </ul>
</div>


<div class="footer__list__three ">
    <ul>



        <li><a href="{% url 'core:about' %}" target="_blank" rel="noopener">About Us</a></li>








        <li><a href="{% url 'core:terms' %}" target="_blank" rel="noopener">Terms and Conditions</a>
        </li>









        <li><a href="https://www.natwestgroup.com/sustainability/governance-and-responsible-business/human-rights-and-modern-slavery.html"
                target="_blank" rel="noopener">Modern Slavery Act</a></li>




    </ul>
</div>


<div class="footer-social-icon ">
    <div class="footer__list__sociallinks">

    </div>

</div>


<div class="footer__copytext ">
    <p>




        &copy;The Royal Bank of Scotland International Limited

    </p>
</div>


