
{% load static %}
<div class="ia__footer ia__footer--responsive">

    <link rel="stylesheet" href="{% static 'home/css/clientlibs-clientlib_ia_footer_champion-_9f70e377798d49ec9c7a90a25b5fa070.min.css' %}" type="text/css">

    <footer class="flex-rw">
        <div class="iah__container">
            <nav aria-label="footer navigation" class=" listtwohide  footer__premier">
                <div class="footer__list__one">
                    <ul>
                        <li>
                            <a class="footer__header" href="{% url 'core:feedback' %}" target="_self">
                                <img role="presentation" src="{% static 'home/images/icons-icon-support-chat-white.svg' %}" alt="">
                                <span>Feedback</span>
                            </a>
                        </li>

                        <li>
                            <a class="footer__header" href="{% url 'core:intermediary_feedback' %}" target="_self">
                                <img role="presentation" src="{% static 'home/images/icons-icon-info-white.svg' %}" alt="">
                                    <span>Intermediary forms</span>
                                </a>
                        </li>

                        <li>
                            <a class="footer__header" href="{% url 'core:eq_support_centre' %}" target="_self">
                                <img role="presentation" src="{% static 'home/images/icons-icon-help-white.svg' %}" alt="">
                                    <span>
                                        eQ
                                        Support Centre
                                    </span>
                                </a>
                        </li>

                    </ul>
                </div>

                <div class="footer__list__three ">
                    <ul>
                        <li><a href="{% url 'core:about' %}" target="_blank" rel="noopener">About Us </a></li>

                        <li><a href="" target="_blank" rel="noopener">Privacy &amp; Cookies Policy </a></li>


                        <li><a href="" target="_blank" rel="noopener">Terms and Conditions </a></li>


                        <li><a href="" target="_blank" rel="noopener">Accessibility </a></li>


                        <li><a href="" target="_blank" rel="noopener">Careers </a></li>


                        <li><a href="" target="_blank" rel="noopener">Sitemap </a></li>


                        <li><a href="" target="_blank" rel="noopener">Modern Slavery Act </a></li>

                    </ul>
                </div>


                <div class="footer-social-icon ">
                    <div class="footer__list__sociallinks">

                    </div>
                </div>


                <div class="footer__copytext ">
                    <p> 
                        &copy;The Royal Bank of Scotland International Limited
                    </p>
                </div>

            </nav>
        </div>
    </footer>


    <script src="{% static 'home/js/clientlibs-clientlib_footer_base-_7ad603327c300d88c7efdd686a27d4b6.min.js' %}" defer></script>


    <script src="{% static 'home/js/clientlibs-clientlib_ia_footer_base-_7ad603327c300d88c7efdd686a27d4b6.min.js' %}" defer></script>

</div>



<div class="globaldropdown"></div>
<div hidden>
    <span id="new-window-0">Opens in a new window</span>
</div>
</body>

</html>