<ul class="ia__nav ia__navbar-nav__l2">
    <li class="share_price mobile ia__noprice"> </li>
    <li class=" ">
        <a aria-expanded="false" href="#" data-level="l2" aria-haspopup="true" data-navid="who we are"><span>Who we are</span>
        </a>
        <div class="skip-link-wrap skip-links-inl2">
        </div>
    
        <div class="iah__nav-l3">
            <div class="ia-l2-active"><a href="javascript:void(0)"><span>Who we are</span></a></div>
            <div class="iah__container">
                    <ul class="ia__nav ia__navbar-nav__l3">
                            <li class="iah__l3-column-holder   ">
                                    <div class="iah__nav-l4">
                                        <div class="iah__container">
                                                <ul class="ia__nav ia__navbar-nav__l4">
                                                
                                                    <li class="iah__l4-column-holder iah__l4-top">
                                                        <div href="javascript:void(0)" class="iah__l4-column-title" tabindex="0">
                                                                    Overview
                                                        </div>
                                                        
                                                        
                                                        <ol role="list">
                                                            
                                                            <li class=" ">
                                                                <a href="{% url 'core:why_rbs' %}" data-navid="who we are"><span>Why RBS International?</span></a>
                                                            </li>
                                                            
                                                        </ol>
                                                    </li>
                                                    
                                                
                                                    <li class="iah__l4-column-holder iah__l4-top">
                                                        
                                                        <div class="iah__l4-column-title  iah__l4-column-title-left ">
                                                        Sector Expertise
                                                        </div>
                                                        
                                                        <ol role="list">
                                                            <li class=" ">
                                                            <a href="{% url 'core:corporate_service_providers' %}" data-navid="who we are"><span>Corporate Service Providers</span></a>
                                                            </li>
                                                            
                                                            <li class=" ">
                                                            <a href="{% url 'core:real_estate_finance' %}" data-navid="who we are"><span>Real Estate Finance</span></a>
                                                            </li>
                                                            
                                                            <li class=" ">
                                                            <a href="{% url 'core:private_equity' %}" data-navid="who we are"><span>Private Equity</span></a>
                                                            </li>
                                                            
                                                            <li class=" ">
                                                            <a href="{% url 'core:asset_management' %}" data-navid="who we are"><span>Asset Management</span></a>
                                                            </li>
                                                            
                                                            <li class=" ">
                                                            <a href="{% url 'core:private_debt' %}" data-navid="who we are"><span>Private Debt</span></a>
                                                            </li>
                                                            
                                                            <li class=" ">
                                                            <a href="{% url 'core:infrastructure_renewables' %}" data-navid="who we are"><span>Infrastructure &amp; Renewables</span></a>
                                                            </li>
                                                            
                                                        </ol>
                                                    </li>
                                                
                                                </ul>
                                        </div>
                                    </div>
                            </li>
                    </ul>
            </div>
        </div>
    </li>


    <li class=" ">
        <a aria-expanded="false" href="#" data-level="l2" aria-haspopup="true" data-navid="locations"><span>Locations</span>
        </a>
        
        
    
    
        <div class="skip-link-wrap skip-links-inl2">
        </div>
    
        <div class="iah__nav-l3">
            <div class="ia-l2-active"><a href="javascript:void(0)"><span>Locations</span></a></div>
            <div class="iah__container">
                <ul class="ia__nav ia__navbar-nav__l3">
                    <li class="iah__l3-column-holder   ">
                            <div class="iah__nav-l4">
                                <div class="iah__container">
                                    <ul class="ia__nav ia__navbar-nav__l4">
                                        <li class="iah__l4-column-holder iah__l4-top">
                                                <div href="javascript:void(0)" class="iah__l4-column-title" tabindex="0">
                                                    Overview
                                                </div>
                                            
                                            
                                                <ol role="list">
                                                    <li class=" ">
                                                        <a href="{% url 'core:where_we_are' %}" data-navid="locations"><span>Where we are</span></a>
                                                    </li>
                                                </ol>
                                        </li>
                                        
                                        <li class="iah__l4-column-holder iah__l4-top">     
                                            <div class="iah__l4-column-title  iah__l4-column-title-left ">
                                            Our offices and teams
                                            </div>
                                            
                                            <ol role="list">
                                                <li class=" ">
                                                <a href="{% url 'core:jersey' %}" data-navid="locations"><span>Jersey</span></a>
                                                </li>
                                                
                                                <li class=" ">
                                                <a href="{% url 'core:guernsey' %}" data-navid="locations"><span>Guernsey </span></a>
                                                </li>
                                                
                                                <li class=" ">
                                                    <a href="{% url 'core:gibraltar' %}" data-navid="locations"><span>Gibraltar</span></a>
                                                </li>
                                                
                                                <li class=" ">
                                                <a href="{% url 'core:isle_of_man' %}" data-navid="locations"><span>Isle of Man</span></a>
                                                </li>
                                                
                                                <li class=" ">
                                                <a href="{% url 'core:luxembourg' %}" data-navid="locations"><span>Luxembourg</span></a>
                                                </li>
                                                
                                                <li class=" ">
                                                <a href="{% url 'core:london' %}" data-navid="locations"><span>London</span></a>
                                                </li>
                                                
                                            </ol>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>

   

    
    <li class=" ">
        <a data-level="l2" href="{% url 'core:insights' %}" data-navid="insights"><span>Insights</span></a>
    
        <div class="skip-link-wrap skip-links-inl2"></div>
    
        <div class="iah__nav-l3">
            <div class="ia-l2-active"><a href="javascript:void(0)"><span>Insights</span></a></div>
            <div class="iah__container">
                <ul class="ia__nav ia__navbar-nav__l3"></ul>
            </div>
        </div>
    </li>

    <li class=" ">
        <a data-level="l2" href="{% url 'core:news' %}" data-navid="news"><span>News</span></a>
    
        <div class="skip-link-wrap skip-links-inl2"></div>
    
        <div class="iah__nav-l3">
            <div class="ia-l2-active"><a href="javascript:void(0)"><span>News</span></a></div>
            <div class="iah__container">
                <ul class="ia__nav ia__navbar-nav__l3"></ul>
            </div>
        </div>
    </li>

    
   
    <li class=" ">
        <a data-level="l2" href="{% url 'core:eq_online_banking' %}" data-navid="news"><span>eQ Digital Banking</span></a>
    
        <div class="skip-link-wrap skip-links-inl2"></div>
    
        <div class="iah__nav-l3">
            <div class="ia-l2-active"><a href="javascript:void(0)"><span>eQ Digital Banking</span></a></div>
            <div class="iah__container">
                <ul class="ia__nav ia__navbar-nav__l3"></ul>
            </div>
        </div>
    </li>



    
    
    <li class=" ">
        <a data-level="l2" href="{% url 'core:eq_support_centre' %}" data-navid="news"><span>Help &amp; Support</span></a>
    
        <div class="skip-link-wrap skip-links-inl2"></div>
    
        <div class="iah__nav-l3">
            <div class="ia-l2-active"><a href="javascript:void(0)"><span>Help &amp; Support</span></a></div>
            <div class="iah__container">
                <ul class="ia__nav ia__navbar-nav__l3"></ul>
            </div>
        </div>
    </li>

</ul>
    
<div class="iah__share container-fluid mobile--rbscom mobile--natwestgroup" data-domain="responsive_champion">
    <div class="iah__container  container">
        <div class="iah__l0__right">
            <nav aria-label="Level zero Navigation" class="hide__desktop--rbscom hide__desktop--natwestgroup">
            <ul class="ia__nav ia__navbar-nav__l2">

                
            </ul>
            </nav>
        </div>
    </div>
</div>